In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cardio=pd.read_csv('D:/CardioVascularDisease/CardioVascularDisease/cardio_train.csv',sep=';')
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,22469,1,155,69.0,130,80,2,2,0,0,1,0
1,989,14648,1,163,71.0,110,70,1,1,0,0,1,1
2,990,21901,1,165,70.0,120,80,1,1,0,0,1,0
3,991,14549,2,165,85.0,120,80,1,1,1,1,1,0
4,992,23393,1,155,62.0,120,80,1,1,0,0,1,0

In [3]:
cardio.drop_duplicates(inplace=True)

In [4]:
cardio['age']=cardio['age'].apply(lambda x : x//365)
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,988,61,1,155,69.0,130,80,2,2,0,0,1,0
1,989,40,1,163,71.0,110,70,1,1,0,0,1,1
2,990,60,1,165,70.0,120,80,1,1,0,0,1,0
3,991,39,2,165,85.0,120,80,1,1,1,1,1,0
4,992,64,1,155,62.0,120,80,1,1,0,0,1,0

In [5]:
cardio['BMI']=cardio['weight']//(cardio['height']/100)**2

In [6]:
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,988,61,1,155,69.0,130,80,2,2,0,0,1,0,28.0
1,989,40,1,163,71.0,110,70,1,1,0,0,1,1,26.0
2,990,60,1,165,70.0,120,80,1,1,0,0,1,0,25.0
3,991,39,2,165,85.0,120,80,1,1,1,1,1,0,31.0
4,992,64,1,155,62.0,120,80,1,1,0,0,1,0,25.0

In [7]:
cardio1=cardio[~(cardio['BMI'] > 40) | (cardio['BMI'] < 15)]

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score,RandomizedSearchCV
from sklearn.metrics import accuracy_score,confusion_matrix

In [9]:
x=cardio.iloc[:,]
y=cardio['cardio']

In [11]:
lr=LogisticRegression()
cv=cross_val_score(lr,x,y,cv=5)
print(cv)
print(cv.mean())

C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

[1.        1.        1.        0.9998557 1.       ]
0.99997113997114

C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=12,test_size=0.25)
lr.fit(x_train,y_train)

C:\Users\Win7\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
confusion_matrix(lr.predict(x_test),y_test)
accuracy_score(lr.predict(x_test),y_test)

0.9998845665473854